---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <span>
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="post-tag"><i class="fas fa-tag"></i><nobr>{{ tag_name }}</nobr></code></a><span> </span>
      {% endfor %}
    </span>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <!-- addthis share-->
    <div class="addthis_inline_share_toolbox"></div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.comments != false %}
    <h2>评论</h2>
    <div class=".utterances"></div>
    <script src="https://utteranc.es/client.js"
            repo="cn3ya/cn3ya.github.io"
            issue-term="url"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>Please enable JavaScript to view the comments</noscript>
  {% endif %}

</div>
